.env
/.venv
/crewai_project
__pycache__/
.DS_Store
db/openai/chroma.sqlite3
*.bin
db/
myenv
db/data_level0.bin
memory.json
analisanalisis_penyakit_dari_gejala_task_report.md
classification_task_report.md
output_manager_task_report.md
rekomendasi_obat_report.md